.day-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    box-shadow: $shadow;
    padding: 3px;
    gap: 5px;

    
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $primaryBlue;

        div{
            display: flex;
        }
    }

    hr{
        border-top: 3px solid $primaryBlue;
    }
}

.split-card{
    padding: 10px;
    border: solid;
    border-width: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    .header{
        width: 100%;

        .delete-btn{
            color: #FD6D6D;
            cursor: pointer;

            &:hover{
                font-weight: 600;
            }
        }
        
    }
    hr{
        width: 100%;
    }

}

.workout-card{
    display: grid;
    justify-content: space-between;
    width: 100%;
    padding: 3px;

    &:hover{
        background-color: #f2f2f2;
        box-shadow: $shadow;
    }

    h2{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    div{
        grid-column-start: 1;
        grid-column-end: 2;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    svg{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: center;
        
        &:hover{
            opacity: 1;
        }
    }
    
}