.main-view{
    display: flex;
    height: 95vh;
    width: 100%;

    .side-bar{
        box-shadow: $shadow;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;


        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            width: 100%;
            background-color: $primaryBlue;
            box-shadow: $shadow;

            h1{
                padding: 5px 10px;
            }
        }

        .button-div{
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .btn-primary{
                width: fit-content;
                height: fit-content;
            }
        }

        .workout-list{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            .workout{
                display: flex;
                justify-content: space-between;
                padding: 5px 10px;
            }
            svg{
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    
    .schedule{
        width: 100%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        .calendar{
            width: 100%;
            height: 85vh;
            margin: 10px;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            column-gap: 10px;
        }

    }
    
}