.modal-background{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);

    .modal{
        position: absolute;
        background-color: white;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: $shadow;
        border-radius: 10px;
        

        .header{
            display: flex;
            justify-content: space-between;
            background-color: $primaryBlue;
            padding: 5px 10px;
            border-radius: 10px 10px 0px 0px;
            h1{
                color: $white;
            }
        }

        .body{
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            .inputs{
                display: flex;
                flex-direction: column;
                gap: 20px;
                input{
                    width: 100%;
                }

                .selects{
                    display: flex;
                    gap: 20px;
                    div{
                        display: flex;
                        gap: 5px;
                    }

                }

            }
            .color-select{
                .colors{
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    row-gap: 20px;
                    column-gap: 20px;
                    .color-block{
                        width: 50px;
                        height: 50px;
                    }
                    .color-block-selected{
                        width: 50px;
                        height: 50px;
                        border: 3px solid black
                    }
                }
            }

            .buttons{
                display: flex;
                justify-content: flex-end;
                gap: 20px;
            }
    }
       
        
      
    }
}