.sign-in{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    width: 400px;
    object-fit: fill;
    border-radius: 3px;
    box-shadow: $shadow;


    h1{
        padding: 5px 10px;
        color: $white;
        background-color: $primaryBlue;
        border-radius: 3px 3px 0px 0px;
    }

    .sign-in-form{
        padding: 30px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        object-fit: fill;

        div{
            display: flex;
            align-items: center;
            gap: 10px;

            p{
                color: $primaryBlue;
                font-weight: 300;
                font-size: 14px;

                &:hover{
                    color: $darkBlue;
                    font-weight: 400;
                }
            }
        }
    }
}