@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.sign-in {
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.sign-in h1 {
  padding: 5px 10px;
  color: #FFFFFF;
  background-color: #1C7BCA;
  border-radius: 3px 3px 0px 0px;
}

.sign-in .sign-in-form {
  padding: 30px;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -o-object-fit: fill;
     object-fit: fill;
}

.sign-in .sign-in-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.sign-in .sign-in-form div p {
  color: #1C7BCA;
  font-weight: 300;
  font-size: 14px;
}

.sign-in .sign-in-form div p:hover {
  color: #15609D;
  font-weight: 400;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #1C7BCA;
  height: 5vh;
  padding: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95vh;
  width: 100%;
}

.main-view .side-bar {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.main-view .side-bar .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #1C7BCA;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.main-view .side-bar .header h1 {
  padding: 5px 10px;
}

.main-view .side-bar .btn-primary {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-view .side-bar .workout-list {
  width: 100%;
}

.main-view .side-bar .workout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
}

.main-view .schedule {
  width: 100%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-view .schedule .calendar {
  width: 100%;
  height: 85vh;
  margin: 50px;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border: 3px solid blue;
  overflow: scroll;
}

.masonry-blocks {
  display: inline-block;
  width: 100%;
  margin: 20px;
}

.day-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  gap: 5px;
}

.day-card .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1C7BCA;
}

.day-card .header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.day-card hr {
  border-top: 3px solid #1C7BCA;
}

.split-card {
  padding: 10px;
  border: solid;
  border-width: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.workout-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.workout-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

button {
  font-size: 14px;
  padding: 5px 15px;
  outline: none;
  border: none;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 2px;
}

button:hover {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #1C7BCA;
  color: #FFFFFF;
}

.btn-primary:hover {
  background-color: #15609D;
}

.btn-secondary {
  background-color: #FFFFFF;
  color: #1C7BCA;
  border: solid;
  border-width: 4px;
}

.btn-secondary:hover {
  color: #15609D;
}

.label {
  font-size: 20px;
  font-weight: 500;
  color: #1C7BCA;
}

input {
  border: solid;
  border-radius: 2px;
  border-color: #1C7BCA;
  padding: 5px;
  outline: none;
}

input:focus {
  border-color: #62ADEA;
}

hr {
  border-top: 1px solid #1C7BCA;
}
/*# sourceMappingURL=style.css.map */